@charset "UTF-8";

@font-face {
  font-family: 'AvenirNextCondensed-Regular';
  src: url('../../assets/fonts/AvenirNextCondensed.eot');
}
@font-face {
  font-family: 'AvenirNextCondensed-Regular';
  src: url('../../assets/fonts/AvenirNextCondensed.woff') format('woff'), 
  url('../../assets/fonts/AvenirNextCondensed.svg#AvenirNextCondensed-Regular') format('svg');
}
@font-face {
  font-family: 'AvenirNextCondensed-MediumItalic';
  src: url('../../assets/fonts/AvenirNextCondensed.eot');
}
@font-face {
  font-family: 'AvenirNextCondensed-MediumItalic';
  src: url('../../assets/fonts/AvenirNextCondensed.woff') format('woff'), 
  url('../../assets/fonts/AvenirNextCondensed.svg#AvenirNextCondensed-MediumItalic') format('svg');
}
