// border-bottom:1px solid #d4d4d4;

html,
body
{
    height: 100%;
}

body 
{
    color:#fff;
    background-color: #2a2a2b;
    background-image:url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.pageRow
{
    padding-top:40px;
    padding-top:4rem;
    padding-bottom:40px;
    padding-bottom:4rem;

    &:nth-last-child(2) 
    {
        padding-bottom:0;
    }
}

.nextRow
{
    width:100%;
    text-align: center;

    i 
    {
        position:relative;
        left:-3px;
        margin-top: 10px;
        display: block;
        text-align: center;

        &.bounce.active 
        {
            -webkit-transition: all 0.1s;
            -webkit-animation: bounce 1.5s;
            -webkit-animation-iteration-count: infinite;
        }
    }
}

.siteHeaderWrap
{
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index: 100;
}
    .mainNavigation
    {
        position:relative;
        text-align: center;
        font-size: 24px;
        line-height: 80px;
        height: 80px;
        
        &:before 
        {
            color:rgba(255,255,255,0.5);
            font-size: 20px;
            font-family: 'Glyphicons Halflings';
            content:"\e055";
            display: block;
            position:absolute;
            right:0px;
            top:0;
            z-index: 10;
            width:70px;
            height: 70px;
            padding-left:25px;
            padding-top:0px;
            text-align: left;
        }
        
        a
        {
            display: none;
            color:rgba(255,255,255,0.2);
            padding: 0 40px;

            &:hover 
            {
                color:rgba(255,255,255,1);
                text-decoration: none;
            }
        }

        &.active 
        {
            &:before 
            {
                content:"\e014";
                color:rgba(255,255,255,0.9);
            }
            a
            {
                display: block;
            } 
        }
    }

.aboutWrap
{
    text-align: center;
}
    .homeHello
    {
        font-size: 100px;
        font-size: 10rem;
        line-height: 100px;
        line-height: 10rem;
        margin-bottom: 40px;
        margin-bottom: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
    }
    .aboutWrap p 
    {
        font-size:16px;
        font-size:1.6rem;
        line-height: 18px;
        line-height: 1.8rem;

        &.homeSlogan
        {
            margin-top: 30px;
            margin-top: 3rem;
        }
    }

.skillsListWrap
{
    overflow:hidden;

    ul 
    {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}

    .radialProcessItem
    {
        margin-top: 10px;
        margin-top: 1rem;
        margin-bottom: 10px;
        margin-bottom: 1rem;
        text-align: center;
        text-align: center;
    }

.contactsWrap
{
    ul 
    {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    a 
    {
        display: block;
        color:#fff;
        line-height: 43px;
        line-height: 4.3rem;
        text-align: center;

        &:hover 
        {
            text-decoration: none;
        }

        &:before 
        {
            font-family: 'Glyphicons Halflings';
            font-size: 12px;
            padding-right: 6px;
            position:relative;
        }
    }

    .skypeItem {
        background:rgba(86, 219, 204, 0.2);
        
        &:active,
        &:hover 
        {
            background:rgba(86, 219, 204, 0.8);
        }
    }
    .phoneItem {
        background: rgba(219, 86, 86, 0.2);
        
        &:active,
        &:hover 
        {
            background: rgba(219, 86, 86, 0.8);
        }
    }
    .emailItem {
        background: rgba(86, 101, 219, 0.2);
        
        &:active,
        &:hover 
        {
            background: rgba(86, 101, 219, 0.8);
        }
    }
    .linkedinItem {
        background: rgba(86, 101, 219, 0.2);
        
        &:active,
        &:hover 
        {
            background: rgba(86, 101, 219, 0.8);
        }
    }
    .githubItem {
        background: rgba(219, 86, 219, 0.2);
        
        &:active,
        &:hover 
        {
            background: rgba(219, 86, 219, 0.8);
        }
    }
    
    .linkedinItem:before{
        content: "\e008";
        top:1px;
    }
    .emailItem:before{
        content: "\2709";
        top:2px;
    }
    .phoneItem:before{
        content: "\e182";
        top:1px;
    }
    .githubItem:before{
        content: "\2601";
        top:2px;
    }
    .skypeItem:before{
        content: "\e183";
        top:1px;
    }
}

.siteFooterWrap
{
    text-align: center;
    height: 80px;
    height: 8rem;
    line-height: 80px;
    line-height: 8rem;

    img 
    {
        margin-right: 15px;
        margin-right: 1.5rem;
    }

    p 
    {
        margin: 0;
    }
}